
body {
  margin-top: 4%;
  background-color:   #b29c7d;
}
.coluna {
  padding: 0 5px;
  float: left;
}

/*grid 960px */

#linha {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
}


