body {
	font-size: 14pt;
	font-family: 
	-apple-system, 
	BlinkMacSystemFont, 
	Segoe UI, 
	Roboto, 
	Oxygen,
  Ubuntu, 
  Cantarell, 
  Fira Sans, 
  Droid Sans, 
  Helvetica Neue, 
  sans-serif;
}

.coluna {
  padding: 0 10px;
  float: left;
  background-color: ;
}

/*grid 960px */

#linha {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
}


